<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}
.main {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align:left;
}
</style>
</head>
<body style="font-family:Verdana;color:#aaaaaa;">

    <div style="padding:15px;text-align:center;">
        <h1>Perihal</h1>
        <img src="static/logo.png"align="middle" alt="PUSKUSI" >
        <p> Aplikasi Ekstraksi Informasi<p>
    </div>

    <div style="overflow:auto">
        <div class="main">
            <h2>Penggunaan :</h2>
            <ol>
                <li>Masukan kata kunci dari informasi yang ingin dicari.</li>
                <li>Pilih file yang informasinya ingin diekstraksi.</li>
                <li>Pilih algoritma pencocokan string yang diinginkan</li>
                <li>Lalu klik tombol cek</li>
                <li>program akan menampilkan hasil ekstraksi</li>
            </ol>
            <h2>Tentang program :</h2>
                <p>PUSKUSI adalah aplikasi ekstraksi informasi. Proses ekstraksi yang dilakukan menggunakan pencocokan string dengan pilihan algoritma Booyer-Moore, Knuth-Morris-Pratt, regex. Dan proses ekstraksi waktu dan jumlah dilakukan dengan menggunakan regex.</p>
                <p>Pogram ini dibuat untuk memenuhi tugas kecil matakuliah IF2211 Strategi Algoritma Tahun Ajaran 2019/2020 Teknik Informatika Institut Teknologi Bandung</p>
            <h2>Pembuat:</h2>
                <p>Yasyfiana Fariha Putrisusari</p>
                <p>NIM 13518143</p>
        </div>
    </div>

    <div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;">Yasyfiana Fariha Putrisusari | 13518143
    </div>

</body>
</html>
